

<body>

  <section class="py-5">
    <div class="container text-center">
      <h2 class="mb-5">How To Use?</h2>
      <div class="card-deck row">
        <div class="card col-md-6">
          <div class="card-body mt-3">
            <h5 class="card-title">Working with Georesources Data</h5>
            <p class="card-text">
GeoResources data refers to information about the features,objects etc that appear on earth Surface like minerals ,ores etc that are generally used in oil exploration,geographical surveys etc
<br>
<b>For Testing use ID:92abb429-86c6-48fa-9fb1-1ad7965725d5</b>

</p>
          </div>
          <div class="card-footer bg-transparent border-0 mb-3"><a class="btn btn-primary" routerLink="/georesources">Try GeoResources</a></div>
        </div>
        <div class="card col-md-6">
          <div class="card-body mt-3">
            <h5 class="card-title">Working With Spatial Data</h5>
            <p class="card-text">
Spatial Data generally referes to the geogreaphic units like admistrative offices,postal etc that are used by the government agencies etc
<br>
<b>For Testing use ID:4f8f3a04-cc57-48d3-a801-d6b4b00fd315</b>

</p>
          </div>
          <div class="card-footer bg-transparent border-0 mb-3"><a class="btn btn-primary" routerLink="/spatial">Try Spatial</a></div>
        </div>
      </div>
    </div>
  </section>

  <router-outlet></router-outlet>
</body>


<footer class="py-3">
  <div class="container">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h5 class="mb-3">
        <a href="https://wiki.52north.org/Projects/GSoC2023ProjectIdeas#KomMonitor_Web_Client:_Migration_to_Angular">Code Challenge By 52 North </a></h5>
      <div class="d-flex mb-3">
        <a href="mailto:ashwanthdreddy@gmail.com">
          <img class="px-2" src="../assets/icons/envelope.svg" alt="mail">
        </a>
        <a href="tel:+917975133686" >
          <img class="px-2" src="../assets/icons/phone.svg" alt="phone">
        </a>

      </div>
      <div class="d-flex">
        <p class="mb-0 small text-muted">© Made By Ashwanth Kumar D</p>
      </div>
    </div>
  </div>
</footer>
